$text-on-dark: white !default;
$text-on-light: #333 !default;

$primary: dodgerblue !default;
$primary-hover: rgb(25, 129, 232) !default;
$primary-active: rgb(18, 111, 203) !default;

$note-color: rgb(116, 163, 75) !default;
$note-background: rgb(157, 221, 127) !default;
$note-border: rgb(70, 104, 54) !default;
