$base-size: 16px !default;
$base-family: sans-serif !default;
$base-height: 1.2 !default;

$control-size: 0.9rem !default;
$control-family: $base-family !default;
$control-height: inherit !default;

$note-size: 1.1rem !default;
$note-family: $base-family !default;
