@use "../abstract/font";
@use "../abstract/spacing";
@use "../abstract/color";
@use "../abstract/transition";

.button {
  @include transition.linear(background-color, box-shadow);

  font-size: font.$control-size;
  font-family: font.$control-family;
  line-height: font.$control-height;

  padding: spacing.$em-1 spacing.$em-2;

  border-radius: 5px;
  border: 0;

  outline: none;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;
  cursor: pointer;

  display: inline-block;
  white-space: nowrap;

  &.-primary {
    color: color.$text-on-dark;
    background-color: color.$primary;

    &:hover {
      background-color: color.$primary-hover;
    }

    &:active {
      background-color: color.$primary-active;
      box-shadow: 0 0 2px color.$primary-active;
    }
  }
}
