@use "../abstract/font";
@use "../abstract/color";
@use "../abstract/spacing";

.sticky-note {
  font-size: font.$note-size;
  font-family: font.$note-family;

  position: absolute;
  box-shadow: 5px 5px 7px gray;
  user-select: none;
  cursor: grab;
  z-index: 5;
  position: relative;

  color: color.$note-color;
  background-color: color.$note-background;
  border: 1px solid color.$note-border;

  &-content {
    padding: 2em;
    height: 100%;
  }

  &-input {
    padding: spacing.$em-2;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    white-space: pre-wrap;
  }

  &-content,
  &-input {
    color: color.$note-color;
    display: flex;
    align-items: center;
    resize: none;
    justify-content: center;
    height: 100%;

    text-align: center;
    vertical-align: middle;
  }

  &-form {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;

    button + button {
      margin-left: 1rem;
    }
  }

  &-resize {
    $size: 20px;
    width: $size;
    height: $size;

    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:hover &-resize {
    display: block;
  }
}
